<p>Issuer Index</p>

<table>
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.issuer.code' %></th>
      <th><%= t 'activerecord.attributes.issuer.name' %></th>
      <th><%= t 'activerecord.attributes.issuer.irs' %></th>
      <th><%= t 'headers.actions'%></th>
    </tr>
  </thead>
  <tbody>
    <%= @issuers.each do |issuer| %>
      <tr class="<%= cycle(:odd, :even) %>">
        <td><%= issuer.code %></td>
        <td><%= issuer.name %></td>
        <td><%= issuer.irs %></td>
        <td>
          <%= link_to t('links.edit'), edit_issuer_path( issuer ) %>
          <%= link_to t('links.delete'), issuer_path( issuer ), :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>  
</table>

<%= paginate @issuers %>
<%= link_to t('issuers.new'), new_issuer_path %>
